body{
    margin: 0%;
}

.mainContainer{
    display: grid;
    background-color: #feb1dd;
    text-align: center;
    padding-bottom: 25px;
}


.subContainer{
    display: inline-flex;
    text-align: center;
    background-color: blanchedalmond;
    border-radius: 25px;
    margin: 2%;

}

.subContainerChild{
    
    border: 6px;
    background-color: #e1c2f6;
    margin: 2%;
    height:min-content

}

.subContainerParent{
    display: flow-root;
    background-color: blanchedalmond;
    margin: 2%;
    border-radius: 25px;
}
.component{
    display: grid;
    text-align: center;
    margin: 2%;
}

h1{
    text-align: center;
}

button{
    border-radius: 10px;
    border: 15px;
    border-style:groove ;
    border-color: #585858;
    margin: 2%;
    background-color: #ffffff;
    
}

input{
    width:fit-content;
}


